html{                 
    background-image: url('https://4kwallpapers.com/images/walls/thumbs_3t/11615.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Trebuchet MS';
    margin: 0;
    height: 100%;
}   

h1{
text-align: center;;
font-size: 250% ;
padding: 40px;
margin: 0 10%;
color: white;
}

#titulo_header { 
    font-size: 50px; 
    font-weight: bold; 
    color: #ffffff; 
    text-align: center; 
    margin: 10px 0; 

}

.header {
    height: 500px; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
    background-size: cover; 
    background-position: center; 
}
#contenido{
    font-family: 'Trebuchet MS';
    font-size: 20px;
    color: white;
    text-align: left;
}
h3{
    border: black 1px;
    color: white;
    background-color: rgb(235, 45, 77);
    border-radius: 8px;
    padding: 5px;
    clear: both;
    margin: 0 10%;
    text-align: center;

}


.section {
    margin: 15px; 
    padding: 5px; 
    color: antiquewhite;
}

p{
    margin: 0 10%;
    text-align: justify;
    text-indent: 40px;
    font-size: 16px;
}


#extras{
    text-align: center;
    text-indent: 40px;
}

button{
   
    background-color: #6e29f0;
    border: none;
    color: white;
    padding: 20px 30px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    align-items: center;
    font-family:'Trebuchet MS';
    cursor: pointer;
    border-radius: 5px;
    justify-content: center;
    justify-content: baseline;
}


footer{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
}
/* Media Queries para hacer el diseño responsive */
@media (max-width: 600px) {
    h1 {
        font-size: 150%;
        margin: 0 5%;
    }

    p {
        margin: 0 5%;
        font-size: 14px;
    }

    .header {
        height: 300px;
    }

    button {
        padding: 10px 20px;
        font-size: 14px;
    }

    h3 {
        margin: 0 5%;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    h1 {
        font-size: 200%;
        margin: 0 7%;
    }

    p {
        margin: 0 7%;
        font-size: 16px;
    }

    .header {
        height: 400px;
    }

    button {
        padding: 15px 25px;
        font-size: 15px;
    }

    h3 {
        margin: 0 7%;
    }
}